<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}DevHub Academy{% endblock %}</title>
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
  </head>
  <body>
    <header>
      <h2>DevHub Acedemy</h2>
      <nav>
        <a href="{{url_for('index')}}">Home</a>
        <a href="{{url_for('courses')}}">Courses</a>
        <a href="{{url_for('contact')}}">Contact</a>
      </nav>
    </header>

    <div class="container">
      {% block content %}
      {% endblock %}
    </div>

    <footer>
      <p>
        &copy; 2026 DevHub Academy. Built with Flask.
      </p>
    </footer>
  </body>
</html>